let mapleader = " "

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'

set scrolloff=5
set incsearch
set ignorecase
set smartcase
map Q gq

nmap <leader><leader> <Action>(SearchEverywhere)
nmap <leader>ff <Action>(SearchEverywhere)
nmap <leader>/ <Action>(FindInPath)
nmap <leader>gg <Action>(ActivateCommitToolWindow)
nmap <leader>e <Action>(ActivateProjectToolWindow)
nmap <leader>bd <Action>(CloseContent)
nmap [b <Action>(PreviousTab)
nmap ]b <Action>(NextTab)  
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)
nmap <leader>ca <Action>(ShowIntentionActions)

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
