[Desktop Entry]
Name=Helix
GenericName=Text Editor
GenericName[pt_BR]=Editor de Texto
Comment=Edit text files
Comment[pt_BR]=Edite arquivos de texto
Type=Application
Keywords=Text;editor;
Icon=helix
Categories=Utility;TextEditor;
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
X-Desktop-File-Install-Version=0.28
Exec=ptyxis -T 'Helix' --tab -- /usr/bin/hx %F
Terminal=false
StartupNotify=true

